// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$nbh-blue: #062f78;
$nbh-black: #282d36;
$nbh-gold: #aa8947;
$nbh-gold-hover: #d1b471;
$nbh-success: #064091;
$nbh-gray: #a6a6a6;
$nbg-another-gary: #6a6a6a;
$nbg-another-black: #4b4b4b;
$nbg-separator-gray: #c5c5c5;

$nbh-info-background: #edf3ff;
$nbh-info-border: #6c8cc5;
$nbh-success-background: #fff8eb;
$nbh-success-border: #aa8947;
$nbh-warning-background: #ffebad;
$nbh-warning-border: #7a5f33;
$nbh-danger-background: #ffebeb;
$nbh-danger-border: #cc6464;
$nbh-dark-color: #5b5b5b;
$nbh-gray-smooth: #e6e6e6;
$nbh-white: #fff;
$nbh-border-color: #c8c8c8;
$nbh-ready-step-color: #f5f5f5;

// Typography
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//widget
$max-widget-width: 512px;
$underline-color: #cbcbcb;
$dark-blue-color: #062f78;
$dark-gold-color: #aa8947;
