<template lang="pug">
.RegistrationWizzard
  .RegistrationWizzard__header.row
    .col-2
      img(src='../assets/combined-shape.svg')
    .col-10.RegistrationWizzard__header__content
      h2 Step by Step Wizard
      span Use our instructions to start trading in a few minutes.
  .container
    step-layout(number='1' v-on:closeStep="closeStep" :isActive="registrationSteps[0].isActive" :isReady="registrationSteps[0].isReady" text='Verify your Mobile').
  .container
      step-layout(number='2' v-on:closeStep="closeStep" :isActive="registrationSteps[1].isActive" :isReady="registrationSteps[1].isReady" text='Upload Documents for Approval').
  .container
      step-layout(number='3' v-on:closeStep="closeStep" :isActive="registrationSteps[2].isActive" :isReady="registrationSteps[2].isReady" text='Open Account').
  .container
      step-layout(number='4' v-on:closeStep="closeStep" :isActive="registrationSteps[3].isActive" :isReady="registrationSteps[3].isReady" text='Download Trading Platform').
  .container
      step-layout(number='5' v-on:closeStep="closeStep" :isActive="registrationSteps[4].isActive" :isReady="registrationSteps[4].isReady" text='Deposit / Start Trading').
</template>

<script>

import StepLayout from "../components/elements/StepLayout";
//TODO
//1. add number variable to StepLayout component
//2. make Number Component global for current application
//3. create unit-test for components
//4. refactor for using Vuex
export default {
  name: 'RegistrationWizzard',
  components:{
    StepLayout,
  },
  data() {
    return{
      currentCountry: '',
      countryValidation: {},
      registrationSteps:[
        {
          isActive: true,
          isReady: false
        },
        {
          isActive: false,
          isReady: false
        },
        {
          isActive: false,
          isReady: false
        },
        {
          isActive: false,
          isReady: false
        },
        {
          isActive: false,
          isReady: false
        },
      ]
    }
  },
  props: {
    currentPhone: String
  },
  methods:{
    closeStep(target){
        console.log('Close target = ', target);
        this.registrationSteps[target].isActive = false;
        if(target + 1 < this.registrationSteps.length) this.registrationSteps[target + 1].isActive = true;
        this.registrationSteps[target].isReady = true;
    }
  },
  mounted(){
    console.log('steps ',this.registrationSteps);
  }
}
</script>

<style lang="scss">
@import "../assets/scss/variables.scss";

html{
    padding: 0;
    margin: 0;
    width: 100%;
}
.RegistrationWizzard{
  border-top: 1px solid $nbh-warning-border; 
  margin: 0 auto;
  &__header{
    padding: 18px;
    &__content{
      text-align: left;
      h2{
        font-size: 16px;
      }
      span{
          font-size: 13px;
          line-height: 1.5;
          display: block;
      }
    }
  }
}
</style>
