<template lang="pug">
.DepositAndStart
    .row.header
            .col-3
                number-element(number='5')
            .col-9
                h2 Make Deposit & Start Trading!
                span To trade live, you need to add funds to your chosen trading account. Use online wallets, all major credit and debit cards or a bank wire transfer to begin.
    .content
        .button
            button(@click="makeDeposit") Make Deposit
</template>   
<script>
import NumberElement from "../../components/elements/NumberElement";
export default {
    name: "DepositAndStart",
    components:{
        NumberElement
    },
    methods: {
        makeDeposit(){
            this.$emit('closeStep', 4);
        }
    }
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.DepositAndStart{
    background: url('../../assets/phone.jpg') no-repeat center center;
    background-size: cover;
    color: $nbh-white;
}    
</style>