<template lang="pug">
    .DownloadPlatform
        .row.header
            .col-3
                number-element(number='4')
            .col-9
                h2 
                | Free Download 
                br 
                | Trading Platform
        .content
            .button
                button(@click="downloadMetatrader") Download Metatrader 4
            .infoList
                ul
                    li Most Used FX Trading Platform as of 2019
                    li Available in App Store and Play Market
                    li Available for Windows and MacOS
                    li Ultra-low latency data center colocation 
</template>
<script>
import NumberElement from "../../components/elements/NumberElement";
export default {
    name: 'UploadDocuments',
    components: {
        NumberElement
    },
    methods:{
        downloadMetatrader(){
            this.$emit('closeStep', 3);
        }
    }
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.DownloadPlatform{
    background: url('../../assets/phone.jpg') no-repeat center center;
    background-size: cover;
    color: $nbh-white;
    .infoList{
        text-align: left;
        margin: 0 auto;
        width: 19rem;
        line-height: 2;
        font-size: 13px;
        @media only screen and (max-width: 376px) {
            width: 85%;
        }
    }
}    
</style>