<template>
    <div class="Number">
        {{number}}
    </div>
</template>
<script>
export default {
    name: "NumberElement",
    props: {
        number: String
    }    
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.Number{
    background-color: $nbh-success;
    border-radius: 5px;
    border-top: 1px solid $nbh-info-border;
    border-right: 1px solid rgba(23,68,145,1);
    font-weight: bold;
    font-size: 30px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}
</style>
