<template lang="pug">
.OpenAccount
    .row.header
            .col-3
                number-element(number='3')
            .col-9
                h2 Create Account
                span Set the type, base currency and leverage. You may open up to ten live trading accounts as you require. Your capital is at risk. You may lose more than you invest. Risk Policy
    .content
        .button
            button(@click="openAccount") Open Live Account
</template>
<script>
import NumberElement from "../../components/elements/NumberElement";
export default {
    name: "OpenAccount",
    components: {
        NumberElement
    },
    methods:{
        openAccount(){
            this.$emit('closeStep', 2);
        }
    },
    mounted(){
        console.log('open account created');
    }
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.OpenAccount{
    background: url('../../assets/phone.jpg') no-repeat center center;
    background-size: cover;
    color: $nbh-white;
}      
</style>