<template lang="pug">
    .PhoneValidation
        .row.header
            .col-3
                number-element(number='1')
            .col-9
                h2 Verify your Mobile
                span Needed as a security measure to secure your account.
        .content(v-if="currentStep === 0")
            .title Send an authentication PIN
            .input
                .forCountry
                    vue-phone-number-input(v-model="currentPhone" default-country-code="CY" @update="onUpdate")
            .button
                button(@click="validatePhone") Confirm
        .content(v-if="currentStep === 1")
            .title(v-if="pin_validation === null") SMS PIN sended to {{currentPhone}}
            .title(v-if="pin_validation === 0") Wrong or expired PIN code!
            .input.pin(v-bind:class="{ 'error': pin_validation === 0 }")
                .forCountry
                    input(placeholder="*Enter PIN*" maxlength="4" v-model="pin")
            .button
                button(@click="validatePin") Confirm
            .resendPin
                span(v-if="timer > 0")
                    img(src="../../assets/resend_pin.svg") 
                    span.request_pin Request new pin 
                    b in {{timer}}
                span(v-if="timer === 0")
                    img(src="../../assets/resend_pin.svg")
                    span.resend_pin.request_pin(@click="resendPin") Resend new PIN                            
</template>

<script> 
import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';
import NumberElement from "../../components/elements/NumberElement";

export default {
    name: "PhoneValidation",
    components:{
        VuePhoneNumberInput,
        NumberElement
    },
    data(){
        return { 
            currentPhone: '95529385', 
            currentStep: 0,
            stepStatus: false,
            validPin: '4321',
            pin: '',
            pin_validation: null,
            timer: null,
            showRequestLink: false
        }   
    },
    props:{
        
    },
    methods: {
        onUpdate(target){
            this.phoneValidation = target;
            console.log('this.countryValidation ',this.phoneValidation);
        },
        validatePhone(){
            if(this.phoneValidation.isValid){
                this.currentPhone = this.phoneValidation.formatInternational;
                this.nextStep();
            }
        },
        validatePin(){
            console.log('pin is ', this.pin);
            if(this.pin !== this.validPin){
                this.pin_validation = 0;
            }else{
                console.log('Phone validated');
                clearInterval(this.interval);
                this.$emit('closeStep', 0);
            }
        },
        nextStep(){
            this.currentStep++;
            console.log('currentStep is ', this.currentStep);
        },
        startCounter(){
            this.timer = 60;
            this.showRequestLink = false;
            this.interval = setInterval(() => {
                this.timer--;
                if(this.timer === 0) {
                    this.showRequestLink = true;
                    clearInterval(this.interval);
                }
            }, 1000);
        },
        resendPin(){
            console.log('request for pin sended');
            this.startCounter();
        }
    },
    computed:{
        
    },
    mounted(){
        console.log('component is PhoneValidation');
        this.startCounter();
    }
}

</script>

<style lang="scss">
@import "../../assets/scss/variables.scss";
.PhoneValidation{
    background: url('../../assets/phone.jpg') no-repeat center center;
    background-size: cover;
    color: $nbh-white;
    
    .content{
        .resendPin{
            .request_pin{
                margin-left: 10px;
            }
            .resend_pin{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .pin{
            width: 50% !important;
            input{
                text-align: center;
                padding: 5px;
                font-size: 25px;
            }
        }
        .input{
            width: 80%;
            margin: 0 auto;
            border-radius: 5px;
            border: 1px solid $nbh-info-border;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
            background: $nbh-success;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            .forCountry{
            padding: 0;
            .field-label,.country-selector-arrow{
                color: $navbar-default-bg !important;
            }
            .country-list-item{
                color: black;
            }
            input{
                background: transparent !important;
                border: none !important;
                outline: none !important;
                color: $navbar-default-bg ;
                width: 100%;
                &:selected{
                    background: transparent;
                }
                &:-webkit-autofill:focus, &:-webkit-autofill:hover{
                    background: transparent !important;
                }
                }
            }
        
        }
        .error{
            border-color: $nbh-danger-border;
            input{
                color: $nbh-danger-border !important;
            }
        }
    }

}
</style>