<template lang="pug">
.StepLayout(v-bind:class="{ 'StepLayout--ready' : isReady, 'StepLayout--active': isActive}")
  span.number {{number}}
  span.text {{text}}
  <DynamicComponent v-on:closeStep="closeStep" v-if="isActive" :contentType="stepsList[parseInt(this.number-1)]" />
</template>
<script>
import DynamicComponent from '../../components/utils/DynamicComponent.vue';

export default {
    name: "StepLayout",
    components:{
        DynamicComponent
    },
    props:{
        number: String,
        text: String,
        isReady: Boolean,
        isActive: Boolean
    },
    data() {
        return{
            stepsList: [
                'PhoneValidation',
                'UploadDocuments',
                'OpenAccount',
                'DownloadPlatform',
                'DepositAndStart',
            ]
        }
    },
    methods: {
        closeStep(target){
            console.log('Close in StepLayout target = ', target);
            this.$emit('closeStep', target);
        }
    },
    mounted(){
        console.log('props isActive & number of array', this.isActive+' '+parseInt(this.number-1));
    }
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.StepLayout{
    text-align: left;
    padding: 10px 20px;
    border: 1px solid $nbh-border-color;
    border-bottom: 2px solid $nbh-border-color;
    margin-top: 10px;
    .number{
        background-color: $nbh-info-border;
        font-weight: bold;
        font-size: 15px;
        color: white;
        border-radius: 3px;
        width: max-content;
        padding: 0 6px;
    }
    .text{
        margin-left: 20px;
        @media only screen and (max-width: 768px) {
            font-size: 13px;
        }
    }
    &--ready{
        background: $nbh-ready-step-color;
        .number{
            background: $nbh-white;
            color: $nbh-gold;
        }
    }
    &--active{
        padding: 0;
        border: none;
        .number, .text{
            display: none;
        }
    }
}    
</style>