<template lang="pug">
    .UploadDocuments
        .row.header
            .col-3
                number-element(number='2')
            .col-9
                h2 Upload Documents for Approval
                span This legal requirement is to combat money laundering and more.
        .content
            .button
                button(@click="uploadsDocuments") Upload documents
</template>
<script>
import NumberElement from "../../components/elements/NumberElement";
export default {
    name: 'UploadDocuments',
    components: {
        NumberElement
    },
    methods:{
        uploadsDocuments(){
            this.$emit('closeStep', 1);
        }
    }
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.UploadDocuments{
    background: url('../../assets/phone.jpg') no-repeat center center;
    background-size: cover;
    color: $nbh-white;
}    
</style>