<template>
  <div id="app">
    <RegistrationWizzard currentPhone="95529385"/>
  </div>
</template>

<script>
import RegistrationWizzard from './components/RegistrationWizzard.vue'

export default {
  name: 'app',
  components: {
    RegistrationWizzard
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
