<template lang="pug">
    component(class="Component" v-on:closeStep="closeStep" :is="component"  v-if="component")
</template>
<script>
export default {
    name: 'DynamicComponent',
    props: ['contentType'],
    data() {
        return {
            component: null,
        };
    },
    computed: {
        loader() {
            console.log('this.contentType on load is ',this.contentType);    
            if (!this.contentType) {
                return null;
            }
            console.log(`../../components/elements/${this.contentType}`);
            return () => import(`../../components/elements/${this.contentType}`);
        },
    },
    methods:{
        closeStep(target){
            console.log('Close in Dynamic target = ', target);
            this.$emit('closeStep', target);
        }
    },
    mounted() {
        console.log('this.contentType is ', this.contentType);
        this.loader()
        .then(() => {
            console.log('component loaded');
            this.component = () => this.loader();
        })
        .catch((error) => {
            console.log('componetnt error is ', error);
            // this.component = () => import('./utils/TreeView');
        });
    },
}
</script>
<style lang="scss">
@import "../../assets/scss/variables.scss";
.Component{
    .header{
        padding: 15px 0px;
        border-bottom: 1px solid $nbh-gold;
        margin: 0px;
        margin-bottom: 10px;
        h2 {
            font-size: 20px;
        }
        span{
            font-size: 13px;
        }
    }
    .content{
        text-align: center;
        padding: 15px;
        .title{
            margin-bottom: 20px;
        }
        .button{
            button{
                background: $dark-gold-color;
                color: white;
                padding: 10px 60px;
                margin-top: 25px;
                margin-bottom: 30px;
                outline: none;
                border: 0;
                text-transform: uppercase;
            }
        }        
    }
}
</style>